:root {
    --text: rgb(1, 11, 38);
    --background: rgb(250, 250, 255);
    --primary: rgb(42, 76, 212);
    --secondary: rgb(220, 30, 30);
    --accent: rgb(123, 67, 249);
    --titre: "Press Start 2P", system-ui;
    --font2: "Roboto Slab", serif;
}

body {
    font-family: "Press Start 2P", serif;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
}