:root {
    --background: rgb(1, 11, 38);
    --text: rgb(250, 250, 255);
    --primary: rgb(42, 76, 212);
    --secondary: rgb(220, 30, 30);
    --accent: rgb(123, 67, 249);
    --titre: "Press Start 2P", system-ui;
    --font2: "Roboto Slab", serif;
}

body {
    font-family: "Press Start 2P", system-ui;
    color: var(--text);
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center; /* Centre tout par défaut */
    background: var(--primary);
    background-image: url(./images/borneretro.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

/*                                      Ici ma NAVBAR                                               */

nav {
	scale: 2px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo1 {
	margin-right: 1em;
	border-radius: 40% 00% 40% 00%;
}

.navbar a {
	transition: 0.4s;
	scale: 1.2;
	
}

.rendu-plus-gros:hover {
	scale: 1.2;
}

img.logo1 {
	width: 105px;
	height: 105px;
}


.links li {
	list-style: none;
	/* border: 2px solid blue;
	border-radius: 8%;
	background-color: transparent rgba(0, 0, 0, 0.8); */
	transition: 0.3s;
	scale: 1;
}


header {
	position: relative;
	padding: 0 2rem;
	background-color: rgba(0, 0, 0, 0.238);
}

                      /*                                   NAVBAR                    */

.navbar{
	width: 100%;
	/* max-width: 1200px; */
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: 0.3s;
	scale: 1;																
}

div.navbar a {
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
}


div.navbar a:hover {
	color: #63C7B2;
}

div.burger-menu a:hover {
	color: #63C7B2;
}
	
.navbar .logo a {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar .links {
	display: flex;
	gap: 2rem;
}

.navbar .burger-menu-button {
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

.buttons {
	display: flex;
	gap: 10px;
}

img .logo1 {
	text-align: start;
}

p .titre {
	margin-right: 0px;
}
/*                                           boutton du menu burger                            */

.action-button {
	background-color: #63C7B2;
	color: #120d31;
	border: 1px solid #63C7B2;
	padding: 0.5rem 1.2rem;
	border-radius: 5px;
	outline: none;
	font-size: 0.9rem;
	font-weight: bold;
	cursor: pointer;
	margin-left: 180px;
}

div.burger-menu a {
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
}

.action-button:hover {
	color: #fff;
	border: 1px solid #fff;
}

.pro {
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
}

.pro:hover {
	background-color: #fff;
	color: #120d31;
}

.burger-menu ul .liste-deroulante {
	text-align: center;
	transition: 0.3s;
	scale: 1;
}
/*                       Liste déroulante de la catégorie Autres                         */

.links {
	text-align: center;
}

.liste-deroulante {
	display: block;
	position: relative;
	padding-right: 50px;
}
.links ul .liste-deroulante {
	text-align: center;
	transition: 0.3s;
	scale: 1;
	padding-right: 40px;
}

.submenu {
	display: none	;
	padding-top: 20px;
    position: absolute;	
	color: transparent;
    left: 0;
    background-image: url(https://wallpaperboat.com/wp-content/uploads/2020/03/retro-gaming-25.jpg);
    list-style: none;
	border: 3px ridge darkblue ;
	border-radius: 15% 15% 25% 25%;
	background-position: 40% 50%;
	transition: all 10 ease;
    animation: scroll 10s linear alternate infinite;
    padding-right: 20px;
}

@keyframes scroll{

    0%{
        background-position: 0;
    }
    100%{
        background-position: 100%;
    }
}

.submenu li {
	padding: 12px 12px 12px 12px;
}

.liste-deroulante:hover .submenu{
	display: block;
}

/*                                             burger menu                                        */

.burger-menu {
	display: none;
	height: 0;
	position: absolute;
	right: 2rem;
	top: 60px;
	width: 200px;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ul .submenu {
    text-align: center;
}

.burger-menu.open {
	height: 680px;

}

.burger-menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.divider {
	height: 1px;
	background-color: #fff;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.burger-menu .action-button {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons-burger-menu {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.boutton-connecter {
	font-size: 50px;
	opacity: 0.8;
	margin: 10px;
	text-align: center;	
	border-style: solid; 
	border-width: 50px;
	border-image-source: url(se-connecter-bordure.png);
	border-image-slice: 300 150 300 150; /* haut | droit | bas | gauche */
	border-image-width: 50px;
	color: red ;
	background-color: #120d31;
} 

.div-boutton-connecter {
	text-align: center;
}

.centrer-connecter {
	text-align: center;
}

input[type="checkbox"] {
	display: none;	
  }
  
  .text {
	display: none;
	font-size: 18px;
	margin: 3em;
	color: var(--secondary);
	color: #121212;
	background-image: url(fond-se-connecter.jpg);
	height: 200px;
	padding-top: 20px;
  }

  .deuxieme-fond {
	background-color: rgba(rgb(7, 7, 7), 0.8);
	opacity: 1;
  }
  
  input[type="checkbox"]:checked + label + .text {
	display: block;
  }

.lol2 {
	display: block !important;
}

span {
    color: #f80a0a;
    text-shadow:
        0 0 6px rgba(202, 228, 225, 0.92),
        0 0 30px rgba(202, 228, 225, 0.34),
        0 0 12px rgba(220, 30, 30, 0.52),
        0 0 21px rgba(220, 30, 30, 0.92),
        0 0 34px rgba(220, 30, 30, 0.78),
        0 0 54px rgba(220, 30, 30, 0.92);
    animation: flashing 1.4s infinite alternate;
}

 /* Section de présentation */
 .presentation {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu horizontalement */
    justify-content: center;
    padding: 20px;
    text-align: center;
    background-color: rgba(1, 11, 38, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px; /* Limite la largeur de la section */
    border-radius: 10px; /* Coins arrondis */
}



.presentation h1 {
    font-size: 2.2em;
    color: #007BFF;
    margin-bottom: 20px;
}

.img_miyamoto {
    width: 100%;
    max-width: 400px; /* Limite la taille maximale de l'image */
    border-radius: 10px;
    margin-bottom: 20px;
}

.presentation p {
    font-size: 1.2em;
    color: white;
    line-height: 1.6;
    margin-bottom: 30px;
    padding: 0 15px; /* Ajout d'un peu de padding pour les petits écrans */
}

.cta-button {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Section des moments clés */
.key-moments {
    display: flex;
    flex-direction: column; /* Par défaut, une colonne */
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    background-color: rgba(1, 11, 38, 0.7);
}

/* Titre de la section */
.key-moments h2 {
    font-size: 2.5em;
    color: #007BFF;
    margin-bottom: 30px;
}

/* Conteneur des éléments de chaque moment clé */
.moments-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes fixes */
    gap: 30px; /* Espacement entre les éléments */
    width: 100%;
    max-width: 1200px; /* Limite la largeur */
}

.moment {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

 /* Ajout d'un peu de style aux images */
 .moment img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.moment h3 {
    font-size: 1.8em;
    color: var(--accent);
}

.moment p {
    font-size: 1.2em;
    color: white;
    line-height: 1.6;
}

/* Responsive : ajuster les colonnes sur mobile */
@media (max-width: 767px) {
    .moments-container {
        grid-template-columns: 1fr; /* 1 seule colonne sur mobile */
    }

    .moment {
        padding: 15px; /* Réduire le padding pour les petits écrans */
    }
}

/* Section de l'événement */
.event-description {
    padding: 20px;
    background-color: rgba(1, 11, 38, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Titre principal */
.event-description h2 {
    font-size: 2.5em;
    color: #007BFF;
    margin-bottom: 30px;
}

/* Conteneur des éléments de l'événement (grille responsive) */
.event-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes sur PC */
    gap: 30px;
}

/* Style pour chaque élément de l'événement */
.event-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.event-item h3 {
    font-size: 1.6em;
    color: #333;
}

.event-item p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
}

.event-item-inscription{
    font-size: 1.1em;
    line-height: 6.6;
}

.event-item .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}

/* Responsive Design : Tablette (2 colonnes) */
@media (max-width: 1024px) {
    .event-details {
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur tablette */
    }
}

/* Responsive Design : Mobile (1 seule colonne) */
@media (max-width: 767px) {
    .event-details {
        grid-template-columns: 1fr; /* 1 seule colonne sur mobile */
    }

    .event-item {
        padding: 15px; /* Réduire le padding sur mobile */
    }

    .event-description h2 {
        font-size: 2em; /* Réduire la taille du titre */
    }
}

/* Formulaire Q&A */
.qa-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    text-align: left;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.qa-form h3 {
    font-size: 1.8em;
    color: #007BFF;
    margin-bottom: 20px;
    text-align: center;
}

.qa-form label {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #333;
    display: block;
}

.qa-form input, 
.qa-form textarea {
    width: 97%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.qa-form textarea {
    resize: vertical;
}

.qa-form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

.qa-form button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 767px) {
    .qa-form {
        padding: 15px;
    }

    .qa-form h3 {
        font-size: 1.6em;
    }

    .qa-form label {
        font-size: 1em;
    }

    .qa-form input,
    .qa-form textarea {
        font-size: 1em;
    }
}

 /* Section Galerie */
 .galerie-photos-et-videos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes par défaut pour PC */
    gap: 20px;
    padding: 20px;
}

.gallery-item {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img, .gallery-item video {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #f4f4f4;
}

.gallery-item h3 {
    margin: 15px;
    font-size: 18px;
    color: #0d4b72;
}

.gallery-item p {
    margin: 0 15px 15px;
    font-size: 14px;
    color: #666;
}

/* Section Billetterie */
.billetterie {
    display: flex;
    justify-content: center; /* Centrer le formulaire */
    padding: 20px;
    background-color: rgba(1, 11, 38, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 30px auto;
    max-width: 800px;
}

.billetterie form {
    width: 100%;
}

.billetterie h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 97%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="number"] {
    width: 50%;
}

.form-group .options {
    display: flex;
    gap: 20px;
}

.form-group .options label {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.form-group .options input {
    margin-right: 8px;
}

button {
    background-color: #0d4b72;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background-color: #0a3d5f;
}

/* MEDIA QUERIES */
/* Pour les tablettes : 2 colonnes */
@media (max-width: 1024px) {
    .galerie-photos-et-videos {
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes pour tablettes */
    }
}

/* Pour les mobiles : 1 colonne */
@media (max-width: 480px) {
    .galerie-photos-et-videos {
        grid-template-columns: 1fr; /* 1 colonne pour mobiles */
    }
}

/* Media Queries pour la Responsivité */

        /* Pour les tablettes (max-width: 1024px) */
        @media (max-width: 1024px) {
            .billetterie {
                padding: 15px;
            }
        }

        /* Pour les mobiles (max-width: 480px) */
        @media (max-width: 480px) {
            .billetterie {
                padding: 10px;
            }
        }

/*                                      Ici : mon FOOTER                                        */
footer.example-1 {
	font-family: Tahoma, sans-serif;
	background-image: url(https://wallpaperboat.com/wp-content/uploads/2020/03/retro-gaming-25.jpg);
	padding: 90px 0 0;
  }

  footer.example-1 .footer-container {
	max-width: 1200px;
	margin: 0 auto;
  }
  footer.example-1 .footer-container p, footer.example-1 .footer-container a, footer.example-1 .footer-container h4 {
	color: #FFFFFF;
  }
  footer.example-1 .footer-container h4 {
	margin: 0 0 10px;
  }
  footer.example-1 .footer-container p, footer.example-1 .footer-container a {
	font-size: 16px;
  }
  footer.example-1 .footer-container img {
	max-width: 200px;
  }
  footer.example-1 .footer-container .footer-col {
	margin: 0 15px 60px;
	padding: 30px;
	border-radius: 4px;
	background: #15232D;
	-webkit-box-shadow: 2px 2px 2px #15232D;
			box-shadow: 2px 2px 2px #15232D;
	-webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
			box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  }
  @media (min-width: 768px) {
	footer.example-1 .footer-container .footer-col {
	  -ms-flex-preferred-size: 32%;
		  flex-basis: 32%;
	}
  }
  footer.example-1 .footer-container .footer-col ul li {
	list-style: none;
  }

  .footer-col {
	height: 420px;
  }

  footer.example-1 .bottombar {
	padding: 20px 15px;
	background-color: #070e14;
	text-align: center;
	font-style: italic;
	color: #FFFFFF;
	font-size: .9em;
  }

  .maps-taille {
	width: 100% ;
	height: 250px ;
  }

  .size-logo {
	width: 100px;
	height: 100px;
  }

.taille-icon {
	width: 38px;
	height: 38px;
}

.alignement-logo-texte {
	display: flex;
	align-items: center;
}

.taille-dernier-footer {
	width: 30px;
	height: 30px;
}

.centrage-footer {
	text-align: center;
}

.footer-col, li {
	margin-top: 2px;
}

.decalage-footer li {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 6px;
}

.souligné-ref {
	text-decoration: underline;
	border-style: solid;
	border-width: 8px;
	border-image-source: url(images/incroyable-bordure.png);
	border-image-slice: 120 120 120 120; /* haut | droit | bas | gauche */
	border-image-width: 5px;
}

.bottombar a {
	font-size: 15px;
}



                                                /* Responsive */

@media (max-width: 990px) {
	header {
		background: none;
	}

	.navbar .links,
	.navbar .action-button{
		display: none;
	}

	.navbar .burger-menu-button {
		display: block;
	}

	.burger-menu {
		display: block;
	}
	#autres{
		padding: 15px;
		cursor: pointer;
		border: none;
	}
	.liste-deroulante{
		display: none;
	}
	#menu-toggle{
		display: none;
	}
	#menu-toggle:checked ~.liste-deroulante{
		display: block;
	}
}

@media (min-width: 768px) {
	footer.example-1 .footer-container {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: justify;
		  -ms-flex-pack: justify;
			  justify-content: space-between;
	}
}
/* Responsive design pour les petits écrans (mobile et tablette) */
@media (max-width: 767px) {
    .presentation h1 {
        font-size: 1.8em;
    }

    .presentation p {
        font-size: 1em;
    }

    .cta-button {
        font-size: 1em;
        padding: 12px 20px;
    }

    /* Réduire la taille de l'image sur les petits écrans */
    .img_miyamoto {
        max-width: 80%;
        height: auto;
    }
}

 /* Responsive pour les écrans plus larges (tablettes en mode paysage et plus grands) */
 @media (min-width: 768px) {
    .presentation h1 {
        font-size: 2em;
    }

    .presentation p {
        font-size: 1.1em;
    }

    .cta-button {
        font-size: 1.1em;
        padding: 14px 25px;
    }

    /* Ajuster l'image */
    .img_miyamoto {
        max-width: 350px; /* Réduit la taille de l'image en paysage */
    }
}

/* Responsive design mobiles */

@media (max-width: 480px){
    h1 {
        font-size: 1.8em;
    }

    .event-info p,
    .cta a {
        font-size: 0.9em;
    }

    .cta a {
        padding: 12px 25px;
        font-size: 1em;
    }
}


/* Responsive design tablettes en mode portrait */

@media (min-width: 481px),(max-width:767px){
    h1 {
        font-size: 1.8em;
    }

    .event-info p,
    .cta a {
        font-size: 0.9em;
    }

    .cta a {
        padding: 12px 25px;
    }

    body{
        text-align: center;
    }
}

/* Responsive design tablettes en mode paysage */

@media (min-width: 768px),(max-width:900px){
    h1 {
        font-size: 1.8em;
    }

    .event-info p,
    .cta a {
        font-size: 0.9em;
    }

    .cta a {
        padding: 12px 25px;
    }

    body{
        text-align: left;
    }
}

/* Responsive design PC*/

@media (min-width: 1024px),(max-width:1200px) {
    h1 {
        font-size: 1.8em;
    }

    .event-info p,
    .cta a {
        font-size: 0.9em;
    }

    .cta a {
        padding: 12px 25px;
    }

    body{
        text-align: left;
    }
}

/* Responsive design PC grand écrans */

@media (min-width: 1200px){
    h1 {
        font-size: 2.5em;
    }

    .event-info p,
    .cta a {
        font-size: 1.2em;
    }

    .cta a {
        padding: 15px 30px;
    }

    body{
        text-align: left;
    }
}

@keyframes flashing {

    0%,
    18%,
    21%,
    32%,
    35%,
    39%,
    42%,
    100% {
        text-shadow:
            0 0 16px #ffd6d6,
            0 0 16px #ffd6d6,
            0 0 32px #f80a0a,
            0 0 64px #f80a0a,
            0 0 90px #f80a0a,
            0 0 124px #f80a0a;

    }

    20%,
    34%,
    41% {
        text-shadow: none;
        box-shadow: none;
    }
}