:root {
    --text: rgb(1, 11, 38);
    --background: rgb(250, 250, 255);
    --primary: rgb(42, 76, 212);
    --secondary: rgb(220, 30, 30);
    --accent: rgb(123, 67, 249);
    --titre: "Press Start 2P", system-ui;
    --font2: "Roboto Slab", serif; 
    } 


    h1,h2,h3,h4{
        font-family: var(--titre);
    }

    h2{
        text-decoration: underline;
        margin-top: 100px;
        color: var(--secondary);
    }


body {
    height: 100vh;
    background-attachment: fixed;
    background-color: #3989cb;
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: var(--font2);
}
/*                                      Ici ma NAVBAR                                               */

nav {
    scale: 2px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo1 {
    margin-right: 1em;
    border-radius: 40% 00% 40% 00%;
}

.navbar a {
    transition: 0.4s;
    scale: 1.2;

}

.rendu-plus-gros:hover {
    scale: 1.2;
}

img.logo1 {
    width: 105px;
    height: 105px;
}


.links li {
    list-style: none;
    /* border: 2px solid blue;
    border-radius: 8%;
    background-color: transparent rgba(0, 0, 0, 0.8); */
    transition: 0.3s;
    scale: 1;
}


header {
    position: relative;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.238);
}

/*                                   NAVBAR                    */

.navbar{
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    scale: 1;
}

div.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}


div.navbar a:hover {
    color: #63C7B2;
}

div.burger-menu a:hover {
    color: #63C7B2;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .burger-menu-button {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.buttons {
    display: flex;
    gap: 10px;
}

img .logo1 {
    text-align: start;
}

p .titre {
    margin-right: 0px;
}
/*                                           boutton du menu burger                            */

.action-button {
    background-color: #63C7B2;
    color: #120d31;
    border: 1px solid #63C7B2;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 180px;
}

div.burger-menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.action-button:hover {
    color: #fff;
    border: 1px solid #fff;
}

.pro {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.pro:hover {
    background-color: #fff;
    color: #120d31;
}

.burger-menu ul .liste-deroulante {
    text-align: center;
    transition: 0.3s;
    scale: 1;
}
/*                       Liste déroulante de la catégorie Autres                         */

.links {
    text-align: center;
}

.liste-deroulante {
    display: block;
    position: relative;
    padding-right: 50px;
}
.links ul .liste-deroulante {
    text-align: center;
    transition: 0.3s;
    scale: 1;
    padding-right: 40px;
}

.submenu {
    display: none	;
    padding-top: 20px;
    position: absolute;
    color: transparent;
    left: 0;
    background-image: url(https://wallpaperboat.com/wp-content/uploads/2020/03/retro-gaming-25.jpg);
    list-style: none;
    border: 3px ridge darkblue ;
    border-radius: 15% 15% 25% 25%;
    background-position: 40% 50%;
    transition: all 10 ease;
    animation: scroll 10s linear alternate infinite;
    padding-right: 20px;
}

@keyframes scroll{

    0%{
        background-position: 0;
    }
    100%{
        background-position: 100%;
    }
}

.submenu li {
    padding: 12px 12px 12px 12px;
}

.liste-deroulante:hover .submenu{
    display: block;
}

/*                                             burger menu                                        */

.burger-menu {
    display: none;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

ul .submenu {
    text-align: center;
}

.burger-menu.open {
    height: 680px;

}

.burger-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    height: 1px;
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.burger-menu .action-button {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-burger-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.boutton-connecter {
    font-size: 50px;
    opacity: 0.8;
    margin: 10px;
    text-align: center;
    border-style: solid;
    border-width: 50px;
    border-image-source: url(se-connecter-bordure.png);
    border-image-slice: 300 150 300 150; /* haut | droit | bas | gauche */
    border-image-width: 50px;
    color: red ;
    background-color: #120d31;
}


.centrer-connecter {
    text-align: center;
}

input[type="checkbox"] {
    display: none;
}

.text {
    display: none;
    font-size: 18px;
    margin: 3em;
    color: var(--secondary);
    color: #121212;
    background-image: url(fond-se-connecter.jpg);
    height: 200px;
    padding-top: 20px;
}

.deuxieme-fond {
    background-color: rgba(rgb(7, 7, 7), 0.8);
    opacity: 1;
}

input[type="checkbox"]:checked + label + .text {
    display: block;
}

.lol2 {
    display: block !important;
}

/**************************************************************************************************************************/


.jolie{
    width: 100%;
    height: 700px;
    background-image: url(https://www.dokodemo.fr/wp-content/uploads/2019/03/salle-arcade-mikado.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jolie h1{
    margin: 10% 5% 0 5%;
    font-size: 50px;
    text-align: center;
    color: white;
    line-height: 2;
}

.jolie span{
    text-transform: uppercase;
}

.box {
    margin: auto 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.glow-on-hover {
    border: none;
    outline: none;
    color: var(--text);
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.glow-on-hover:hover {
    background: transparent;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: var(--background);
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
    z-index: 2;
}

.hover-color {
    z-index: 999;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    left: 0;
    top: 0;
    border-radius: 10px;
}


/**************************************************************************************************************************/

.countdown{
    width: 100%;
    padding-bottom: -100px;
    border-bottom: solid black 3px;
}

/**************************************************************************************************************************/

.jeux-tournoi{
    display: flex;
    justify-content: center;
}

.bloc-jeu{
    height: 400px;
    width: 300px;
    margin: 20px;
    color: white;
    font-size: 500%;
    position: relative;
    p{
      padding-top: 10%;
    }    
    button{
        margin-bottom: 10%;
    }
}

.bloc-jeu img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    z-index: 1;
    position: absolute;
}

.inscrip{
    z-index: 2;
    position: relative;
    margin: 0 10%;
    text-align: center;
    font-size: 90%;
}

/**************************************************************************************************************************/

#reglement{
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background);
    padding: 0 50px;
    line-height: 2;
}

#reglement img{
    width: 200px;
    height: 200px;
}

/**************************************************************************************************************************/


.grille-score{
    display: flex;
    justify-content: center;
}

.bloc-score{
    height: 1250px;
    width: 300px;
    margin: 20px;
    color: white;
    font-size: 500%;
    position: relative;
    p{
      padding-top: 10%;
    }    
    button{
        margin-bottom: 10%;
    }
}

.score-jeu{
    width: 100%;
    height: 1250px;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    opacity: 0.7;
}

.position{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 10%;
    font-size: 30px;
}

.premier,.deuxieme,.troisieme{
    width: 90%;
    height: 300px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.premier > img{
    width: 30%;
    height: 15%;
}

.premier > p{
    padding: 0;
    margin-top: 0;
}

.pseudal{
    position: relative;
}

.pseudal img{
    z-index: 1;
    width: 150%;
    height: 150px;
    position:absolute;
    margin-left: -25%;
    margin-top: 0;
}

.pseudal p{
    z-index: 2;
    position: relative;
}

.camenerve{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 80%;
    height: 70px;
}

.deuxieme > img{
    width: 30%;
    height: 15%;
}

.deuxieme> p{
    padding: 0;
    margin-top: 0;
}

.troisieme >img{
    width: 30%;
    height: 15%;
}

.troisieme> p{
    padding: 0;
    margin-top: 0;
}

.loser{
    width: 90%;
    height: 290px;
    margin-top: 2%;
}

.quatre,.cinq,.six{
    z-index: 2;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p{
        font-size: 20px;
        padding: 0 5%;
    }
    border: solid white 2px;
    text-align: center;
}

.quatre img{
    width: 20%;
    height: 40px;
}

.cinq img{
    width: 20%;
    height: 40px;
}

.six img{
    width: 20%;
    height: 40px;
}

/**************************************************************************************************************************/
.inscription-tournois{
    position: relative;
    width: 100%;
    height: 700px;
    z-index: 2;
}

.inscription{
    border-radius: 4%;
    background-color: white;
    width: 70%;
    height:520px;
    margin: 100px 10% 0 10%;
    box-shadow: 10px 5px 5px black;
    text-align: center;
    z-index: 1;
    position: absolute;
}

.inscription form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-tournois{
    width: 100%;
    height: 50px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-tournois label{
    font-size: 20px;
}

.zone-texte{
    width: 90%;
    height: 50px;
    font-size: 20px;
}


#form-tour-jeux{
    width: 90%;
    height: 50px;
}

#form-tour-jeux select{
    width: 50%;
    height: 100%;
    font-size: 20px;
}

.inscription button{
    margin-top: 2%;
    height: 30px;
    background: none;
}

.wankul{
    width: 350px;
    height: 400px;
    display: none;
    position: relative;
    z-index: 3;
    float: right;
    padding-top: 220px;
}


.inscription button:hover{
    background-color: black;
    color: white;
}

.inscription-tournois:hover{
    .wankul{
        display: block;
    }
}

/**************************************************************************************************************************/


footer.example-1 {
    font-family: Tahoma, sans-serif;
    background-image: url(https://wallpaperboat.com/wp-content/uploads/2020/03/retro-gaming-25.jpg);
    padding: 90px 0 0;
}

footer.example-1 .footer-container {
    max-width: 1200px;
    margin: 0 auto;
}
footer.example-1 .footer-container p, footer.example-1 .footer-container a, footer.example-1 .footer-container h4 {
    color: #FFFFFF;
}
footer.example-1 .footer-container h4 {
    margin: 0 0 10px;
}
footer.example-1 .footer-container p, footer.example-1 .footer-container a {
    font-size: 16px;
}
footer.example-1 .footer-container img {
    max-width: 200px;
}
footer.example-1 .footer-container .footer-col {
    margin: 0 15px 60px;
    padding: 30px;
    border-radius: 4px;
    background: #15232D;
    -webkit-box-shadow: 2px 2px 2px #15232D;
    box-shadow: 2px 2px 2px #15232D;
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
    footer.example-1 .footer-container .footer-col {
        -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    }
}
footer.example-1 .footer-container .footer-col ul li {
    list-style: none;
}

.footer-col {
    height: 420px;
}

footer.example-1 .bottombar {
    padding: 20px 15px;
    background-color: #070e14;
    text-align: center;
    font-style: italic;
    color: #FFFFFF;
    font-size: .9em;
}

.maps-taille {
    width: 100% ;
    height: 250px ;
}

.size-logo {
    width: 100px;
    height: 100px;
}

.taille-icon {
    width: 38px;
    height: 38px;
}

.alignement-logo-texte {
    display: flex;
    align-items: center;
}

.taille-dernier-footer {
    width: 30px;
    height: 30px;
}

.centrage-footer {
    text-align: center;
}

.footer-col, li {
    margin-top: 2px;
}

.decalage-footer li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

.souligné-ref {
    text-decoration: underline;
    border-style: solid;
    border-width: 8px;
    border-image-source: url(images/incroyable-bordure.png);
    border-image-slice: 120 120 120 120; /* haut | droit | bas | gauche */
    border-image-width: 5px;
}

.bottombar a {
    font-size: 15px;
}

/**************************************************************************************************************************/





@media screen and (max-width: 1023px) {


    h2{
        text-decoration: underline;
        margin-top: 100px;
        text-align: center;
    }

    .jolie{
        width: 100%;
    }

    .box{
        margin-bottom: 0;
    }

    .jeux-tournoi{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }


    .bloc-jeu{
        height: 400px;
        width: 40%;
    }

    .bloc-jeu img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        z-index: 1;
        position: absolute;
    }

    .inscrip{
        z-index: 2;
        position: relative;
        margin: 0 10%;
        text-align: center;
        font-size: 90%;
    }

    .grille-score{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }


    .bloc-score{
        height: 1000px;
        width: 40%;
    }

    .score-jeu{
        width: 100%;
        height: 1000px;
        object-fit: cover;
        z-index: 1;
        position: absolute;
    }

    .premier,.deuxieme,.troisieme{
        width: 90%;
        height: 300px;
        margin-top: 2%;
    }

    .pseudal img{
        z-index: 1;
        width: 150%;
        height: 150px;
        position:absolute;
        margin-left: -25%;
        margin-top: 0;
    }
    
    .loser{
        display: none;
    }


    .inscription{
        border-radius: 4%;
        width: 90%;
        height: 500px;
        margin: 100px auto;
        box-shadow: 10px 5px 5px black;
    }

    .inscription form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
    }

}





@media screen and (max-width: 767px) {

    h2{
        text-decoration: underline;
        margin-top: 100px;
        text-align: center;
    }

    .jolie{
        width: 100%;
    }

    .box{
        margin-bottom: 0;
    }

    .bloc-jeu{
        height: 400px;
        width: 100%;
        margin: 2% 0;
    }

    .inscrip{
        z-index: 2;
        position: relative;
        margin: 0 10%;
        text-align: center;
        font-size: 90%;
    }

    #reglement img{
        display: none;
    }

    .bloc-score{
        height: 1000px;
        width: 100%;
        margin: 2% 0;
    }

    .pseudal img{
        z-index: 1;
        width: 150%;
        height: 150px;
        position:absolute;
        margin-left: -25%;
        margin-top: 0;
    }

    .loser{
        display: none;
    }

    #form-tour-jeux select{
        width: 50%;
        height: 90%;
        font-size: 90%;
    }

    .inscription-tournois:hover{
        .wankul{
            display: none;
        }
    }
}

@media (max-width: 990px) {
    header {
        background: none;
    }

    .navbar .links,
    .navbar .action-button{
        display: none;
    }

    .navbar .burger-menu-button {
        display: block;
    }

    .burger-menu {
        display: block;
    }
    #autres{
        padding: 15px;
        cursor: pointer;
        border: none;
    }
    .liste-deroulante{
        display: none;
    }
    #menu-toggle{
        display: none;
    }
    #menu-toggle:checked ~.liste-deroulante{
        display: block;
    }
}

@media (min-width: 768px) {
    footer.example-1 .footer-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}


@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
